<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>Educational System for Acne</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <style>
      .nav-link {
        color: palevioletred;
      }
    </style>
  </head>
  <body class="p-3 m-0 border-0 bd-example">

    <!-- Example Code -->
    
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
        <img class="ms-2" style="max-height:45px"src="https://i.imgur.com/ULqrCTC.png">
          <span class="ms-3"> Educational System for Acne </span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
         
          <form class="d-flex me-6" role="search">
            <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-danger me-3" ><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
         <div class="col-6"></div>
         <button class="btn btn-outline-secondary me-3" >
          <a href="{% url 'profile' %}" style=" color:rgb(93, 89, 89); text-decoration: none;"> Your Profile <i class="fa-solid fa-user"></i> </a> 
          </button>
          <button class="btn btn-outline-secondary ms-4 me-3"> 
            <a href="{% url 'register' %}" style=" color:rgb(93, 89, 89); text-decoration: none;"> Log Out <i class="fa-solid fa-arrow-right-long"></i></a>
            
          </button>
        </div>
      </div>
    </nav>
    <div class="card text-center mt-4">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item ms-2 me-4">
            <a class="nav-link " aria-current="true" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item me-4">
            <a class="nav-link active" href="{% url 'causes' %}">Causes</a>
          </li>
          <li class="nav-item me-5">
            <a class="nav-link" href="{% url 'prevention' %}">Prevention</a>
          </li>
          <li class="nav-item me-5">
            <a class="nav-link " href="{% url 'mythsfacts' %}" >Myths vs. Facts</a>
          </li>
          <li class="nav-item me-5">
            <a class="nav-link " href="{% url 'types' %}">Types of acne</a>
          </li>
          <li class="nav-item me-5">
            <a class="nav-link " href="{% url 'quizes' %}">Quizes</a>
          </li>
          <li class="col-4">

          </li>

          <li class="nav-item">
            <span style="background-color:palevioletred" class="badge badge-pill"> 
              <a style=" color:white" class="nav-link" href="{% url 'products' %}">Products</a>
            </span>
            
          </li>
        </ul>
      </div>
      <div class="card-body" style="background-color:rgba(255, 143, 143, 0.199)">
       <div class="m-3 mb-4"> 
        <h2 class="col-2"> Causes  
          <i class="fa-solid fa-triangle-exclamation"></i> </h2>
       </div>
        
      <div class="row m-2">
        <div class="col-7 ms-2" style="background-color:rgba(235, 41, 41, 0.189)"> 

          <p style=" text-align: justify; text-justify: inter-word" >
            Four main factors cause acne:
          </br>
            1. Excess oil (sebum) production
          </br>
            2. Hair follicles clogged by oil and dead skin cells
          </br>
            3. Bacteria
          </br>
            4. Inflammation  
          </br>        </p>
        </div>
        <div class="col-4">
          <img style="max-height:250px" src="https://scontent.fskp2-1.fna.fbcdn.net/v/t1.15752-9/300826462_404384454945845_1953446407121943345_n.png?_nc_cat=104&ccb=1-7&_nc_sid=ae9488&_nc_ohc=mWMFBuwpi8kAX-jEH2-&tn=a2SFIYZIdIhmi9er&_nc_ht=scontent.fskp2-1.fna&oh=03_AVL3MJTy27e9nYDHNVl7pWCxHjNTWMzTQ0JapYS7KytwRQ&oe=632F0659">


        </div>


        <div class="row ms-1 mt-5">

          <div class="col-4"> 
  
            <span class="text-justify">
              <h3>What triggers acne <i class="fa-regular fa-circle-question"></i> </h3>
            </span>
          </div> 
          
          <div class="col-7" style="background-color:rgba(235, 41, 41, 0.07)">
            <p style=" text-align: justify; text-justify: inter-word" >
              Certain things may trigger or worsen acne:

              Hormonal changes. Androgens are hormones that increase in boys and girls during puberty and cause the sebaceous glands to enlarge and make more sebum. Hormone changes during midlife, particularly in women, can lead to breakouts too.
              Certain medications. Examples include drugs containing corticosteroids, testosterone or lithium.
              Diet. Studies indicate that consuming certain foods — including carbohydrate-rich foods, such as bread, bagels and chips — may worsen acne. Further study is needed to examine whether people with acne would benefit from following specific dietary restrictions.
              Stress. Stress doesn't cause acne, but if you have acne already, stress may make it worse.          </p>
          </div>
          
      </div>
    </div>
    
    <!-- End Example Code -->
  </body>
  <script src="https://kit.fontawesome.com/7050e69c70.js" crossorigin="anonymous"></script>
</html>