<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>Educational System for Acne</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <style>
      .nav-link {
        color: palevioletred;
      }
    </style>
  </head>
  <body class="p-3 m-0 border-0 bd-example">

    <!-- Example Code -->
    
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
        <img class="ms-2" style="max-height:45px"src="https://i.imgur.com/ULqrCTC.png">
          <span class="ms-3"> Educational System for Acne </span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
         
          <form class="d-flex me-6" role="search">
            <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-danger me-3" ><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
         <div class="col-6"></div>
         <button class="btn btn-outline-secondary me-3" >
          <a href="{% url 'profile' %}" style=" color:rgb(93, 89, 89); text-decoration: none;"> Your Profile <i class="fa-solid fa-user"></i> </a> 
          </button>
          <button class="btn btn-outline-secondary ms-4 me-3"> 
            <a href="{% url 'register' %}" style=" color:rgb(93, 89, 89); text-decoration: none;"> Log Out <i class="fa-solid fa-arrow-right-long"></i></a>
            
          </button>
        </div>
      </div>
    </nav>
    <div class="card text-center mt-4">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item ms-2 me-4">
            <a class="nav-link " aria-current="true" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item me-4">
            <a class="nav-link" href="{% url 'causes' %}">Causes</a>
          </li>
          <li class="nav-item me-5">
            <a class="nav-link" href="{% url 'prevention' %}">Prevention</a>
          </li>
          <li class="nav-item me-5">
            <a class="nav-link active" href="{% url 'mythsfacts' %}" >Myths vs. Facts</a>
          </li>
          <li class="nav-item me-5">
            <a class="nav-link " href="{% url 'types' %}">Types of acne</a>
          </li>
          <li class="nav-item me-5">
            <a class="nav-link " href="{% url 'quizes' %}">Quizes</a>
          </li>
          <li class="col-4">

          </li>

          <li class="nav-item">
            <span style="background-color:palevioletred" class="badge badge-pill"> 
              <a style=" color:white" class="nav-link" href="{% url 'products' %}">Products</a>
            </span>
            
          </li>
        </ul>
      </div>
      <div class="card-body" style="background-color:rgba(255, 143, 143, 0.199)">
       <div class="m-3 mb-4"> 
        <h2 class="col-2"> Myths <i class="fa-solid fa-pen-to-square"></i> </h2>
    
       </div>
        
      <div class="row m-2">
        <div class="col-5"> 

            <br>
            <h5 class="col-3" style="background-color: rgba(255, 192, 203, 0.704)"> Acne myths</h5> 
          <p style=" text-align: justify; text-justify: inter-word; background-color:rgba(255, 143, 143, 0.116); border: 2px solid pink; padding: 3px;" >
            These factors have little effect on acne:
            <br>
<b> Chocolate and greasy foods.</b> Eating chocolate or greasy food has little to no effect on acne. <br>
<b> Hygiene.</b> Acne isn't caused by dirty skin. In fact, scrubbing the skin too hard or cleansing with harsh soaps or chemicals irritates the skin and can make acne worse. <br>
 <b> Cosmetics. </b> Cosmetics don't necessarily worsen acne, especially if you use oil-free makeup that doesn't clog pores (noncomedogenics) and remove makeup regularly. Nonoily cosme
          </p>
        </div>
        <div class="col-1"></div>
        <div class="col-5">
            <br>
            <h5 class="col-6" style="background-color: rgba(255, 192, 203, 0.704)"> Common Myths About Acne</h5> 
          <p style=" text-align: justify; text-justify: inter-word; background-color:rgba(255, 143, 143, 0.116); border: 2px solid pink; padding: 3px;" >
           <b>  Myth:</b> Only teenagers get acne. ... <br>
           <b>  Myth:</b> Acne is caused by dirt. ... <br>
           <b>  Myth:</b> Eating chocolate and greasy foods causes acne. ...<br>
           <b>  Myth:</b> Stress causes acne. ...<br>
           <b>  Myth:</b>Popping pimples makes them go away sooner. ...<br>
           <b>  Myth:</b> Getting a tan helps clear up acne. ...<br>
           <b>  Myth:</b> Acne will go away on its own.<br>
          </p>

        </div>


        <div class="row m-2 mt-5">
          <div class="col-5"> 
  
            <span class="text-justify">
              <h3>When to see a doctor? </h3>
            </span>
          </div>
          <div class="col-6">
            <p style=" text-align: justify; text-justify: inter-word" >
            If self-care remedies don't clear your acne, see your primary care doctor. He or she can prescribe stronger medications. If acne persists or is severe, you may want to seek medical treatment from a doctor who specializes in the skin (dermatologist or pediatric dermatologist).
          </p>
          </div>

      </div>
    </div>
    
    <!-- End Example Code -->
  </body>
  <script src="https://kit.fontawesome.com/7050e69c70.js" crossorigin="anonymous"></script>
</html>