<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>Educational System for Acne</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <style>
      .nav-link {
        color: palevioletred;
      }
    </style>
  </head>
  <body class="p-3 m-0 border-0 bd-example">

    <!-- Example Code -->
    
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
        <img class="ms-2" style="max-height:45px"src="https://i.imgur.com/ULqrCTC.png">
          <span class="ms-3"> Educational System for Acne </span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
         
          <form class="d-flex me-6" role="search">
            <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-danger me-3" ><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
         <div class="col-6"></div>
         <button class="btn btn-outline-secondary me-3" >
          <a href="{% url 'profile' %}" style=" color:rgb(93, 89, 89); text-decoration: none;"> Your Profile <i class="fa-solid fa-user"></i> </a> 
          </button>
          <button class="btn btn-outline-secondary ms-4 me-3"> 
            <a href="{% url 'register' %}" style=" color:rgb(93, 89, 89); text-decoration: none;"> Log Out <i class="fa-solid fa-arrow-right-long"></i></a>
            
          </button>
        </div>
      </div>
    </nav>
    <div class="card text-center mt-4">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item ms-2 me-4">
            <a class="nav-link" aria-current="true" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item me-4">
            <a class="nav-link" href="{% url 'causes' %}">Causes</a>
          </li>
          <li class="nav-item me-5">
            <a class="nav-link" href="{% url 'prevention' %}">Prevention</a>
          </li>
          <li class="nav-item me-5">
            <a class="nav-link " href="{% url 'mythsfacts' %}" >Myths vs. Facts</a>
          </li>
          <li class="nav-item me-5">
            <a class="nav-link " href="{% url 'types' %}">Types of acne</a>
          </li>
          <li class="nav-item me-5">
            <a class="nav-link active" href="{% url 'quizes' %}">Quizes</a>
          </li>
          <li class="col-4">

          </li>

          <li class="nav-item">
            <span style="background-color:palevioletred" class="badge badge-pill"> 
              <a style=" color:white" class="nav-link" href="{% url 'products' %}">Products</a>
            </span>
            
          </li>
        </ul>
      </div>
      <div class="card-body" style="background-color:rgba(255, 143, 143, 0.199)">
       <div class="m-3 mb-4"> 
        <h2 class="col-2"> Quizes </h2>
       </div>
        
      <div class="row m-2">
        <table class="table table-danger table-striped">
            <thead>
              <tr>
                <th scope="col">Quiz Name</th>
                <th scope="col">Quiz Description</th>
                <th scope="col">Your Grade </th>
                <th scope="col"> </th>
              </tr>
            </thead>
            <tbody>
              <tr style="line-height: 60px">
                <th scope="row"> Quiz 1 - Introduction </th>
                <td>This is a sample for description for Quiz 1</td>
                <td> 0.00/100 </td>
                <td>
                    <span style="background-color:palevioletred; display: inline-block; height: 30px; padding-top: 5px;" class="badge badge-pill"> 
                        <a style=" color:white" class="nav-link" href="{% url 'quiz' %}">Attempt Quiz </a>
                      </span>
                </td>
              </tr>

              <tr style="line-height: 60px">
                <th scope="row"> Quiz 2 - Causes of Acne </th>
                <td>This is a sample for description for Quiz 2</td>
                <td> 75.50/100 </td>
                <td>
                    <span style="background-color:palevioletred; display: inline-block; height: 30px; padding-top: 5px;" class="badge badge-pill"> 
                        <a style=" color:white" class="nav-link" href="{% url 'quiz' %}">Attempt Quiz </a>
                      </span>
                </td>
              </tr>

              <tr style="line-height: 60px">
                <th scope="row"> Quiz 3 - Myths Vs. Facts about acne </th>
                <td>This is a sample for description for Quiz 3</td>
                <td> 95.50/100 </td>
                <td>
                    <span style="background-color:palevioletred; display: inline-block; height: 30px; padding-top: 5px;" class="badge badge-pill"> 
                        <a style=" color:white" class="nav-link" href="{% url 'quiz' %}">Attempt Quiz </a>
                      </span>
                </td>
              </tr>

              <tr style="line-height: 60px">
                <th scope="row"> Quiz 4 - Types of acne </th>
                <td>This is a sample for description for Quiz 4</td>
                <td> 45.00/100 </td>
                <td>
                    <span style="background-color:palevioletred; display: inline-block; height: 30px; padding-top: 5px;" class="badge badge-pill"> 
                        <a style=" color:white" class="nav-link" href="{% url 'quiz' %}">Attempt Quiz </a>
                      </span>
                </td>
              </tr>

            
            </tbody>
          </table>
    </div>
    
    <!-- End Example Code -->
  </body>
  <script src="https://kit.fontawesome.com/7050e69c70.js" crossorigin="anonymous"></script>
</html>